* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calc {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#content {
    background: #2c302c;
    padding: 20px;
    border-radius: 10px;

}
#content form input {
    border: 0;
    outline: 0;
    padding: 10px;
    border-radius: 8px;
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}
.btn {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}
.btn input {
    width: 100%;
    height: 50px;
}
form #inputs {
    display: flex;
    justify-content: center;
    margin: 15px 0;
    
}
form #inputs input {
    padding: 10px;
    font-size: 18px;
    text-align: center;
    width: 100%;
}
form #output {
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
form #output input {
    text-align: center;
    flex: 1;
    font-size: 25px;
    background-color: #f0f0f0;
    width: 50px;
    height: 50px;
}
